.carousel {
    margin: 20px;
}

.carousel-view {
    /* (width of each item * number of items) + total width of prev & next button */
    /* width: calc((300px*4));  */
    height: 200px;
    background: white;
    box-shadow: 0 1px 8px #888888;
    margin: auto;
    overflow: hidden;
    position: relative;
}


.carousel-control {
    position:absolute;
    z-index: 1;
    height: 100%;
    width:3%;
    background-color: #111;
    opacity: 0.1;
    transition: background-color 0.3s;
    display: table;
    cursor: pointer;
}

.carousel-control .icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

.carousel-control:hover{
    opacity: 1;
}

.carousel-control:first-of-type {
    left: 0;
}

.carousel-control:last-of-type {
    right: 0;
}

.product-list {
    position: absolute;
    margin: 0;
    padding: 0;
    transition: transform 0.3s;
    transform: translate(0px);
    list-style: none;
    height: 100%;
}

.product-list-item {
    height: 100%;
    display: inline-block;
}

.product {
    display: table;
    height: 100%;
    width: 100%;
}

 /* Hove Effect */

 .thumbnail{
    position: relative;
    cursor: pointer;
  }
  
  .thumbnail-text{
    position: absolute;
    top:35%;
    left:10%;
    width: 80%;
    
    /* padding: 0em 1em; */
    line-height: 0.1rem;
    color: #fff;
    opacity: 0;
  }

  .thumbnail-text h5{
      font-size: 1rem;
  }
  
  .thumbnail-overlay{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    /* padding: 0em 1em; */
  }
  
  .thumbnail:hover{
    background-color: #B71C1C;
    transition: 1s ease;
  }
  
  
  .thumbnail:hover .thumbnail-text{
    opacity: 0;
    margin-top: 0.3em;
    animation: showText 0.5s ease;
    animation-fill-mode: forwards; 
  }
  
  @keyframes showText {
    form {margin-top: 0.1rem; opacity: 0%;}
    to {margin-top: 0em; opacity: 100%;}
  }
