@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');

body {
  height: 100%;
  margin:0;
  font-family: 'Cairo', sans-serif;
  color: #111;
  background-color:#fff;
  overflow: unset;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
